<ion-view id="home-view" view-title="Home">
    <ion-content class="padding">
        <img class="logo" src="../../assets/GeekLearningLogo.png" alt="logo Geek Learning">
        <div class="text-center">
            <h1><span class="secondary-color">Ionic</span> <span class="main-color">Webpack</span> <span class="secondary-color">Typescript</span> <span class="main-color">Seed</span></h1>
        </div>
        <div class="text-center">current environment is: {{ home.currentEnvironment }}</div>
    </ion-content>
</ion-view>


